<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="HomePage">CROWDFUNDING APP</a></p>
      <p class="fl_right">Template by CROWDFUNDING</p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Footer Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../static/Admin/layout/scripts/jquery.min.js"></script>
<script src="../static/Admin/layout/scripts/jquery.backtotop.js"></script>
<script src="../static/Admin/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
